*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#topo{
    background-color: black;
    text-align: center;
}
.topo-menu {
background-color: black;
padding: 10px;
display: flex;
justify-content: center;
gap:20px;
margin: 60PX 0 15px;
color: white;
}
.icones{
    background-color: black;
    color: white;
    
}
.texto{
   text-align: justify;

}
.um{
    color: white;
}
.um :hover{
    color: red;
}
body{
    font-family: "Mate SC", serif;
    font-weight: 400;
    font-style: normal;
}
@media screen and(max-width: 425px) {
    #topo{
        display: flex;
        flex-direction: column;
    }
    .topo-menu{
        display: flex;
        flex-direction: column;
    }
    .texto{
        display: flex;
        flex-direction: column;
    }
}

@media screen and(max-width:775px) {
    #topo{
        display: flex;
        flex-direction: column;
    }
    .topo-menu{
        display: flex;
        flex-direction: column;
    }
    .texto{
        display: flex;
        flex-direction: column;
    }
}